* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'RUBIK', sans-serif;
  background: rgb(105, 176, 255);
  background: linear-gradient(
    305deg,
    rgba(105, 176, 255, 1) 50%,
    rgba(54, 96, 245, 1) 75%
  );
  background-repeat: no-repeat;
  color: #242424;
}

.main-container {
  height: 80vh;
  display: grid;
  grid-template-columns: 0.35fr 1fr 0.35fr;
  justify-items: center;
  gap: 15px;

  padding: 20px 0 15px;
  margin-bottom: 5px;
  background: rgba(92, 92, 92, 0.398);
}

/* ! Header */

header {
  text-align: center;
}

.main-title {
  font-size: 64px;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 11px;
}

/* ! Levels */

.btn-manual-mode {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  font-family: inherit;
  font-weight: 400;
  color: #f1f1f1;
  text-transform: uppercase;

  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 50%;

  box-shadow: 0px 0px 13px 1px rgba(77, 54, 54, 0.822);
  background-color: #160bb3;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-manual-mode:hover {
  box-shadow: 0px 0px 15px 1px rgba(55, 40, 40, 0.902);
  background-color: #685ef8;
}

.btn-manual-mode:active {
  background-color: #49467d;
  transform: translateY(5px);
}

.btn-level {
  display: block;
  width: 200px;
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: -1px;

  padding: 16px 32px;
  margin-bottom: 32px;
  border: none;
  border-radius: 30% 30% 40% 0%;

  cursor: pointer;
  transition: all 0.3s;
  background-color: rgb(199, 161, 111);
  box-shadow: -2px 8px 9px 0px rgba(137, 137, 137, 0.251);
}

.btn-level:hover {
  background-color: rgb(197, 154, 97);
  transform: translateX(6px);
  box-shadow: none;
}

.btn-level.selected {
  background-color: rgb(214, 214, 214);
}

/* ! Board + Timer */

.game-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.game-head-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 20px;
}

.timer-container {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.game-head-container .btn-reset {
  background-color: rgb(237, 237, 237);
  margin: auto;
}

table {
  margin: 30px auto;
  background: rgb(248, 244, 237);
}

.cell {
  width: 50px;
  height: 50px;

  font-size: 24px;
  font-weight: bold;

  color: rgba(0, 0, 0, 0);
  text-align: center;

  border: 1px solid black;
  border-radius: 10% / 30%;
  background-color: gray;
  cursor: pointer;
  transition: background-color 0.2s;
}

.revealed,
.mine,
.marked {
  color: rgb(0, 0, 0);
}

.revealed {
  background-color: rgb(255, 255, 255);
}

.mine {
  background-color: rgb(255, 0, 0);
}

.hide {
  display: none;
}

/* ! Icons  */

.extras-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.emoji-container {
  background-color: gray;
  padding: 7px;
  border: 5px ridge rgb(56, 56, 56);
  margin-bottom: 30px;
  cursor: pointer;
}

.safe-click-container {
  text-align: center;
  margin-bottom: 20px;
}

.safe-click-btn {
  font-size: 22px;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;

  border: none;
  padding: 20px 40px;
  border-radius: 12px;
  margin-bottom: 5px;

  background-color: rgb(167, 255, 167);
  box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.24);

  cursor: pointer;
  transition: all 0.3s;
}

.safe-click-btn:hover {
  background-color: rgb(91, 235, 91);
  box-shadow: none;
}

.safe-click-btn:active {
  background-color: rgb(13, 87, 13);
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.flash {
  background-color: rgb(252, 186, 197);
  animation: flash 1s linear infinite;
}

.click-description {
  font-size: 18px;
  font-weight: 400;
}

.clicks {
  color: rgb(5, 45, 5);
  font-weight: 500;
}

.game-emoji,
.live-icon {
  display: block;
  width: 50px;
  height: 50px;
}

/* ! Modals */

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.7);
  backdrop-filter: blur(5px);
  transition: all 0.3s;
  animation: fade-in 0.5s;
}

.modal {
  width: 400px;
  position: absolute;
  top: 300px;
  left: 50%;

  text-align: center;
  border: 2px solid #000000;
  border-radius: 11px;
  padding: 30px 0;

  transform: translate(-50%, -50%);
}

.lose-modal {
  background: rgb(255, 195, 121);
  background: linear-gradient(
    305deg,
    rgba(255, 195, 121, 1) 25%,
    rgba(245, 92, 54, 1) 67%
  );
}

.win-modal {
  background: rgb(105, 255, 170);
  background: radial-gradient(
    circle,
    rgba(105, 255, 170, 1) 50%,
    rgba(116, 245, 54, 1) 75%
  );
}

.modal-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;

  margin: auto;
}

.btn-reset {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 11px;
  box-shadow: 0 2px 5px rgba(119, 119, 119, 0.315);
  background-color: #e1ef1c;

  cursor: pointer;
  transition: all 0.3s;
}

.btn-reset:hover {
  box-shadow: 0 4px 5px rgba(72, 72, 72, 0.315);
}

.hint-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.hint-theme {
  display: inline-block;
  background-color: rgb(255, 255, 149);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.hint-theme:hover:not(.used) {
  transform: translateY(-5px);
  background-color: rgb(247, 247, 72);
}

.hint-icon {
  width: 40px;
}

.hint-theme.used {
  background: transparent;
  cursor: not-allowed;
}

/* ! Best Scores */

.best-scores-container {
  color: #fff;
  border-radius: 15px;
  background-color: rgb(146, 59, 59);
  padding: 50px 0;
  box-shadow: 0px 10px 12px rgba(38, 38, 38, 0.725);
}

.best-title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.best-scores {
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  margin-inline-start: 30px;
}

.best-score {
  margin-bottom: 15px;
}

.best-score span {
  color: rgb(238, 97, 144);
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

/* ! Footer */

.footer {
  display: flex;
  justify-content: center;
}

.copyright {
  letter-spacing: -0.3px;
  font-weight: 500;
  color: rgb(228, 227, 227);
}

/* ! Animations and others */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
